@charset "UTF-8";
/**
 * Tools
 */
@font-face {
  font-family: "ignico";
  src: url("../fonts/ignico.eot");
  src: url("../fonts/ignico.eot?#iefix") format("eot"), url("../fonts/ignico.woff2") format("woff2"), url("../fonts/ignico.woff") format("woff"), url("../fonts/ignico.ttf") format("truetype"), url("../fonts/ignico.svg#ignico") format("svg"); }

.icon-butterfly:before, .dashicons-ignico:before {
  font-family: "ignico";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none; }

.icon-butterfly:before, .dashicons-ignico:before {
  content: "î€"; }

/**
 * Mixins
 */
/**
 * Reset marings on content elements
 */
/**
 * Components
 */
.dashicons-ignico::before {
  font-size: 20px; }

.ignico-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem; }

.ignico-col-1,
.ignico-col-2,
.ignico-col-3,
.ignico-col-4,
.ignico-col-5,
.ignico-col-6,
.ignico-col-7,
.ignico-col-8,
.ignico-col-9,
.ignico-col-10,
.ignico-col-11,
.ignico-col-12 {
  position: relative;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem; }

.ignico-col-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%; }

.ignico-col-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%; }

@media (min-width: 768px) {
  .ignico-col-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .ignico-col-md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; } }

/**
 * Spacing
 *
 * Control the default styling of most Bootstrap elements by modifying these
 * variables. Mostly focused on spacing.
 * You can add more entries to the$spacers map, should you need more variation.
 */
.ignico-my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.ignico-mx-0 {
  margin-left: 0;
  margin-right: 0; }

.ignico-mt-0 {
  margin-top: 0; }

.ignico-mb-0 {
  margin-bottom: 0; }

.ignico-ml-0 {
  margin-left: 0; }

.ignico-mr-0 {
  margin-right: 0; }

.ignico-my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.ignico-mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }

.ignico-mt-1 {
  margin-top: 0.25rem; }

.ignico-mb-1 {
  margin-bottom: 0.25rem; }

.ignico-ml-1 {
  margin-left: 0.25rem; }

.ignico-mr-1 {
  margin-right: 0.25rem; }

.ignico-my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.ignico-mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.ignico-mt-2 {
  margin-top: 0.5rem; }

.ignico-mb-2 {
  margin-bottom: 0.5rem; }

.ignico-ml-2 {
  margin-left: 0.5rem; }

.ignico-mr-2 {
  margin-right: 0.5rem; }

.ignico-my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.ignico-mx-3 {
  margin-left: 1rem;
  margin-right: 1rem; }

.ignico-mt-3 {
  margin-top: 1rem; }

.ignico-mb-3 {
  margin-bottom: 1rem; }

.ignico-ml-3 {
  margin-left: 1rem; }

.ignico-mr-3 {
  margin-right: 1rem; }

.ignico-my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.ignico-mx-4 {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.ignico-mt-4 {
  margin-top: 1.5rem; }

.ignico-mb-4 {
  margin-bottom: 1.5rem; }

.ignico-ml-4 {
  margin-left: 1.5rem; }

.ignico-mr-4 {
  margin-right: 1.5rem; }

.ignico-my-5 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.ignico-mx-5 {
  margin-left: 2rem;
  margin-right: 2rem; }

.ignico-mt-5 {
  margin-top: 2rem; }

.ignico-mb-5 {
  margin-bottom: 2rem; }

.ignico-ml-5 {
  margin-left: 2rem; }

.ignico-mr-5 {
  margin-right: 2rem; }

.ignico-my-6 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.ignico-mx-6 {
  margin-left: 3rem;
  margin-right: 3rem; }

.ignico-mt-6 {
  margin-top: 3rem; }

.ignico-mb-6 {
  margin-bottom: 3rem; }

.ignico-ml-6 {
  margin-left: 3rem; }

.ignico-mr-6 {
  margin-right: 3rem; }

.ignico-my-7 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.ignico-mx-7 {
  margin-left: 4rem;
  margin-right: 4rem; }

.ignico-mt-7 {
  margin-top: 4rem; }

.ignico-mb-7 {
  margin-bottom: 4rem; }

.ignico-ml-7 {
  margin-left: 4rem; }

.ignico-mr-7 {
  margin-right: 4rem; }

.ignico-py-0 {
  padding-top: 0;
  padding-bottom: 0; }

.ignico-px-0 {
  padding-left: 0;
  padding-right: 0; }

.ignico-pt-0 {
  padding-top: 0; }

.ignico-pb-0 {
  padding-bottom: 0; }

.ignico-pl-0 {
  padding-left: 0; }

.ignico-pr-0 {
  padding-right: 0; }

.ignico-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.ignico-px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.ignico-pt-1 {
  padding-top: 0.25rem; }

.ignico-pb-1 {
  padding-bottom: 0.25rem; }

.ignico-pl-1 {
  padding-left: 0.25rem; }

.ignico-pr-1 {
  padding-right: 0.25rem; }

.ignico-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.ignico-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.ignico-pt-2 {
  padding-top: 0.5rem; }

.ignico-pb-2 {
  padding-bottom: 0.5rem; }

.ignico-pl-2 {
  padding-left: 0.5rem; }

.ignico-pr-2 {
  padding-right: 0.5rem; }

.ignico-py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.ignico-px-3 {
  padding-left: 1rem;
  padding-right: 1rem; }

.ignico-pt-3 {
  padding-top: 1rem; }

.ignico-pb-3 {
  padding-bottom: 1rem; }

.ignico-pl-3 {
  padding-left: 1rem; }

.ignico-pr-3 {
  padding-right: 1rem; }

.ignico-py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.ignico-px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.ignico-pt-4 {
  padding-top: 1.5rem; }

.ignico-pb-4 {
  padding-bottom: 1.5rem; }

.ignico-pl-4 {
  padding-left: 1.5rem; }

.ignico-pr-4 {
  padding-right: 1.5rem; }

.ignico-py-5 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.ignico-px-5 {
  padding-left: 2rem;
  padding-right: 2rem; }

.ignico-pt-5 {
  padding-top: 2rem; }

.ignico-pb-5 {
  padding-bottom: 2rem; }

.ignico-pl-5 {
  padding-left: 2rem; }

.ignico-pr-5 {
  padding-right: 2rem; }

.ignico-py-6 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.ignico-px-6 {
  padding-left: 3rem;
  padding-right: 3rem; }

.ignico-pt-6 {
  padding-top: 3rem; }

.ignico-pb-6 {
  padding-bottom: 3rem; }

.ignico-pl-6 {
  padding-left: 3rem; }

.ignico-pr-6 {
  padding-right: 3rem; }

.ignico-py-7 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.ignico-px-7 {
  padding-left: 4rem;
  padding-right: 4rem; }

.ignico-pt-7 {
  padding-top: 4rem; }

.ignico-pb-7 {
  padding-bottom: 4rem; }

.ignico-pl-7 {
  padding-left: 4rem; }

.ignico-pr-7 {
  padding-right: 4rem; }

.ignico-bg-light {
  background: #f8f8f8; }

.ignico-text-center {
  text-align: center; }

.ignico-font-weight-bold {
  font-weight: 600; }

.ignico-font-size-large {
  font-size: 2rem; }

.ignico-h-100 {
  height: 100%; }

.ignico-form textarea,
.ignico-form input[type="text"],
.ignico-form input[type="password"],
.ignico-form input[type="datetime"],
.ignico-form input[type="datetime-local"],
.ignico-form input[type="date"],
.ignico-form input[type="month"],
.ignico-form input[type="time"],
.ignico-form input[type="week"],
.ignico-form input[type="number"],
.ignico-form input[type="email"],
.ignico-form input[type="url"],
.ignico-form input[type="search"],
.ignico-form input[type="tel"] {
  display: block;
  width: 100%; }

.ignico-label {
  width: 100%; }

.ignico-errors {
  color: #e11133;
  font-size: 0.8rem; }

.ignico-btn {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.6rem 1.4rem;
  line-height: 1.5;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  text-decoration: none !important; }

.ignico-btn-lg {
  font-size: 1.25rem;
  padding: 1.5rem 3rem; }

.ignico-btn-primary {
  color: #fff;
  background-color: #43454b;
  border-color: #43454b; }

.ignico-btn-gray {
  background-color: #d5d5d5;
  border-color: #d5d5d5; }

.ignico-btn-block {
  display: block; }

.ignico-btn-icon {
  weight: 16px;
  height: 16px; }

.ignico-socials-btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.ignico-tooltipped {
  position: relative; }

.ignico-tooltipped::after {
  font-size: 11px;
  line-height: 1.5;
  position: absolute;
  z-index: 1000000;
  display: none;
  padding: 0.5em 0.75em;
  content: attr(aria-label);
  text-align: center;
  white-space: pre;
  text-decoration: none;
  letter-spacing: normal;
  text-transform: none;
  word-wrap: break-word;
  pointer-events: none;
  opacity: 0;
  color: #fff;
  border-radius: 3px;
  background: #1b1f23;
  text-shadow: none; }

.ignico-tooltipped::before {
  position: absolute;
  z-index: 1000001;
  display: none;
  width: 0;
  height: 0;
  content: "";
  pointer-events: none;
  opacity: 0;
  color: #1b1f23;
  border: 6px solid transparent; }

@-webkit-keyframes tooltip-appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes tooltip-appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.ignico-tooltipped:hover::before,
.ignico-tooltipped:hover::after,
.ignico-tooltipped:active::before,
.ignico-tooltipped:active::after,
.ignico-tooltipped:focus::before,
.ignico-tooltipped:focus::after {
  display: inline-block;
  -webkit-animation-name: tooltip-appear;
          animation-name: tooltip-appear;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  text-decoration: none;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.ignico-tooltipped-n::after,
.ignico-tooltipped-ne::after {
  right: 50%;
  bottom: 100%;
  margin-bottom: 6px; }

.ignico-tooltipped-n::before,
.ignico-tooltipped-ne::before {
  top: -7px;
  right: 50%;
  bottom: auto;
  margin-right: -6px;
  border-top-color: #1b1f23; }

.ignico-tooltipped-ne::after {
  right: auto;
  left: 50%;
  margin-left: -16px; }

.ignico-tooltipped-n::after {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%); }

/**
 * Trumps
 */
.ignico-rce > h1:first-child,
.ignico-rce > h2:first-child,
.ignico-rce > h3:first-child,
.ignico-rce > p:first-child,
.ignico-rce > ul:first-child,
.ignico-rce > div:first-child,
.ignico-rce > span:first-child,
.ignico-rce > form:first-child {
  margin-top: 0 !important; }

.ignico-rce > h1:last-child,
.ignico-rce > h2:last-child,
.ignico-rce > h3:last-child,
.ignico-rce > p:last-child,
.ignico-rce > ul:last-child,
.ignico-rce > div:last-child,
.ignico-rce > span:last-child,
.ignico-rce > form:last-child {
  margin-bottom: 0 !important; }
